.jumbotron{
  background-image: url("https://thumbs.dreamstime.com/b/blue-bokeh-computer-code-background-job-offer-blue-bokeh-computer-code-background-job-offer-coding-code-learning-180554511.jpg");
  color: aliceblue;
  height: 500px;
}